<h1>Edit Appointment</h1>
<%= form_with(model: @doc, local: true, class: "ui form" ) do |f| %>
  <div class="field">
  <%= f.label :user %>
  <%= f.select :user_id, @users.collect { |u| [u.full_name, u.id] }, placeholder: User.find(@appt.user_id) %>
  </div>
  <br />
  <div class="field">
  <%= f.label :specialty %>
  <%= f.select :specialty, ['neuro', 'cardio', 'ortho'] %>
  </div>
  <br />
  <%= f.submit "Update Patient", class: "ui green button inverted" %>
<% end %>